DamasChinas_Client/DamasChinas_Client.UI/Connected Services/SingInServiceProxy/SingInService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SingInService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISingInService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" />
      <xsd:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Contracts" />
      <xsd:import schemaLocation="http://localhost:8001/SignInService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISingInService_ValidateUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserData" />
  </wsdl:message>
  <wsdl:message name="ISingInService_ValidateUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISingInService_RequestVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestVerificationCode" />
  </wsdl:message>
  <wsdl:message name="ISingInService_RequestVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISingInService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="ISingInService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ISingInService">
    <wsdl:operation name="ValidateUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingInService/ValidateUserData" message="tns:ISingInService_ValidateUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingInService/ValidateUserDataResponse" message="tns:ISingInService_ValidateUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingInService/RequestVerificationCode" message="tns:ISingInService_RequestVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingInService/RequestVerificationCodeResponse" message="tns:ISingInService_RequestVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingInService/CreateUser" message="tns:ISingInService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingInService/CreateUserResponse" message="tns:ISingInService_CreateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISingInService" type="tns:ISingInService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISingInService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ValidateUserData">
      <soap12:operation soapAction="http://tempuri.org/ISingInService/ValidateUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/ISingInService/RequestVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/ISingInService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingInService">
    <wsdl:port name="NetTcpBinding_ISingInService" binding="tns:NetTcpBinding_ISingInService">
      <soap12:address location="net.tcp://localhost:8734/SignInService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/SignInService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>