DamasChinas_Client/DamasChinas_Client.UI/Connected Services/FriendServiceProxy/FriendService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8004/FriendService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8004/FriendService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8004/FriendService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DamasChinas_Server.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendService_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriends_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendRequests_StringFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_SendFriendRequest_StringFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q3:string" />
  </wsdl:message>
  <wsdl:message name="IFriendService_DeleteFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendService_DeleteFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_DeleteFriend_StringFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q4:string" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateBlockStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlockStatus" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateBlockStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlockStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateBlockStatus_StringFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q5:string" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateFriendRequestStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendRequestStatus" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateFriendRequestStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFriendRequestStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_UpdateFriendRequestStatus_StringFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q6:string" />
  </wsdl:message>
  <wsdl:portType name="IFriendService">
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetFriends" message="tns:IFriendService_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetFriendsResponse" message="tns:IFriendService_GetFriends_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/GetFriendsStringFault" name="StringFault" message="tns:IFriendService_GetFriends_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetFriendRequests" message="tns:IFriendService_GetFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetFriendRequestsResponse" message="tns:IFriendService_GetFriendRequests_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/GetFriendRequestsStringFault" name="StringFault" message="tns:IFriendService_GetFriendRequests_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequest" message="tns:IFriendService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequestResponse" message="tns:IFriendService_SendFriendRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/SendFriendRequestStringFault" name="StringFault" message="tns:IFriendService_SendFriendRequest_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/DeleteFriend" message="tns:IFriendService_DeleteFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/DeleteFriendResponse" message="tns:IFriendService_DeleteFriend_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/DeleteFriendStringFault" name="StringFault" message="tns:IFriendService_DeleteFriend_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlockStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/UpdateBlockStatus" message="tns:IFriendService_UpdateBlockStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/UpdateBlockStatusResponse" message="tns:IFriendService_UpdateBlockStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/UpdateBlockStatusStringFault" name="StringFault" message="tns:IFriendService_UpdateBlockStatus_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/UpdateFriendRequestStatus" message="tns:IFriendService_UpdateFriendRequestStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/UpdateFriendRequestStatusResponse" message="tns:IFriendService_UpdateFriendRequestStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFriendService/UpdateFriendRequestStatusStringFault" name="StringFault" message="tns:IFriendService_UpdateFriendRequestStatus_StringFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendService" type="tns:IFriendService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/GetFriendRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/DeleteFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlockStatus">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/UpdateBlockStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFriendRequestStatus">
      <soap12:operation soapAction="http://tempuri.org/IFriendService/UpdateFriendRequestStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap12:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendService">
    <wsdl:port name="NetTcpBinding_IFriendService" binding="tns:NetTcpBinding_IFriendService">
      <soap12:address location="net.tcp://localhost:8740/FriendService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8740/FriendService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>